.row#login.center-align
  .col.s12.l4.offset-l4.z-depth-4.card-panel.white
    %h2 Login
    = form_tag sessions_path, method: :post do
      .row.input
        .input-field.col.s12.center
          %i.material-icons.prefix person_outline
          = label_tag :username
          = text_field_tag :username, nil, class: 'validate', required: true
      .row.input
        .input-field.col.s12.center
          %i.material-icons.prefix lock_outline
          = label_tag :password
          = password_field_tag :password, nil, class: 'form-control', required: true
      .row.submit.input
        .input-field.col.s12.center
          %button.btn.waves-effect.waves-light
            = submit_tag 'Log In'
