.card-panel.blue-grey
  %h1.center.white-text Points System - Admin Panel
  %h2.center.white-text.uppercase #{@committee_name}
  .card-panel.white
    %table.striped.responsive-table.centered
      %thead
        %tr
          %th{"data-field" => "id"} Country
          %th{"data-field" => "id"} Speaker List
          %th{"data-field" => "id"} POI
          %th{"data-field" => "id"} ROR
          %th{"data-field" => "id"} ROS
          %th{"data-field" => "id"} MOD Struc
          %th{"data-field" => "id"} MOD Speech
          %th{"data-field" => "id"} Lobbying
          %th{"data-field" => "id"} FPS
          %th{"data-field" => "id"} Res Speech
          %th{"data-field" => "id"} Amendments
          %th{"data-field" => "id"} Other Speeches
          %th{"data-field" => "name"} Score
      %tbody
        - score(params[:committee_id]).each do |score|
          %tr
            %td #{score[0]}
            %td #{score[1]}
            %td #{score[2]}
            %td #{score[3]}
            %td #{score[4]}
            %td #{score[5]}
            %td #{score[6]}
            %td #{score[7]}
            %td #{score[8]}
            %td #{score[9]}
            %td #{score[10]}
            %td #{score[11]}
            %td #{score[12]}
          %tr
            %td
            %td #{score[13]} | #{score[14]}
            %td #{score[15]} | #{score[16]}
            %td #{score[17]} | #{score[18]}
            %td #{score[19]} | #{score[20]}
            %td #{score[21]} | #{score[22]}
            %td #{score[23]} | #{score[24]}
            %td #{score[25]} | #{score[26]}
            %td
            %td #{score[27]} | #{score[28]}
            %td #{score[29]} | #{score[30]}
            %td #{score[31]} | #{score[32]}
            %td 
