.card-panel.blue-grey#score_cards
  %h1.center.white-text Points System - #{@committee_name.upcase}
  -# %select.browser-default.country-select
  -#   %option{:disabled => "", :selected => "", :value => ""} Choose a Country
  -#   - get_country_list(params[:committee_id]).each do |country|
  -#     %option{:value => country[0]} #{country[1]}
  .row
    .col.s12.m6.l3
      .card.z-depth-2
        .card-content.center
          %p.card-title.flow-text Speaker List
          .input-field
            -if isSpecial?(params[:committee_id])
              = render partial: 'clients/score_selection', locals: {max_val: 20, min_val: 1, type: 'a'}
            -else
              = render partial: 'clients/score_selection', locals: {max_val: 10, min_val: 1, type: 'a'}
          %button.waves-effect.waves-light.btn.z-depth-1.update{type: 'a'} Update
    .col.s12.m6.l3
      .card.z-depth-2
        .card-content.center
          %p.card-title.flow-text P.O.I
          .input-field
            = render partial: 'clients/score_selection', locals: {max_val: 5, min_val: 1, type: 'b'}
          %button.waves-effect.waves-light.btn.z-depth-1.update{type: 'b'} Update
    .col.s12.m6.l3
      .card.z-depth-2
        .card-content.center
          %p.card-title.flow-text Right to Reply
          .input-field
            = render partial: 'clients/score_selection', locals: {max_val: 10, min_val: 1, type: 'c'}
          %button.waves-effect.waves-light.btn.z-depth-1.update{type: 'c'} Update
    .col.s12.m6.l3
      .card.z-depth-2
        .card-content.center
          %p.card-title.flow-text R. to a Statement
          .input-field
            = render partial: 'clients/score_selection', locals: {max_val: 5, min_val: 1,type: 'd'}
          %button.waves-effect.waves-light.btn.z-depth-1.update{type: 'd'} Update
    .col.s12.m6.l3
      .card.z-depth-2
        .card-content.center
          %p.card-title.flow-text Mod. C. Struct
          .input-field
            = render partial: 'clients/score_selection', locals: {max_val: 5, min_val: 1,type: 'e'}
          %button.waves-effect.waves-light.btn.z-depth-1.update{type: 'e'} Update
    .col.s12.m6.l3
      .card.z-depth-2
        .card-content.center
          %p.card-title.flow-text Mod. C. Speech
          .input-field
            = render partial: 'clients/score_selection', locals: {max_val: 5, min_val: 1,type: 'f'}
          %button.waves-effect.waves-light.btn.z-depth-1.update{type: 'f'} Update
    .col.s12.m6.l3
      .card.z-depth-2
        .card-content.center
          %p.card-title.flow-text Lobbying
          .input-field
            = render partial: 'clients/score_selection', locals: {max_val: 5, min_val: 1,type: 'g'}
          %button.waves-effect.waves-light.btn.z-depth-1.update{type: 'g'} Update
    .col.s12.m6.l3
      .card.z-depth-2
        .card-content.center
          %p.card-title.flow-text F.P.S
          .input-field
            = render partial: 'clients/score_selection', locals: {max_val: 15, min_val: 1,type: 'h'}
          %button.waves-effect.waves-light.btn.z-depth-1.update{type: 'h'} Update
    .col.s12.m6.l3
      .card.z-depth-2
        .card-content.center
          %p.card-title.flow-text Res. Speeches
          .input-field
            = render partial: 'clients/score_selection', locals: {max_val: 10, min_val: 1,type: 'i'}
          %button.waves-effect.waves-light.btn.z-depth-1.update{type: 'i'} Update
    .col.s12.m6.l3
      .card.z-depth-2
        .card-content.center
          %p.card-title.flow-text Amendments
          .input-field
            = render partial: 'clients/score_selection', locals: {max_val: 5, min_val: 1,type: 'j'}
          %button.waves-effect.waves-light.btn.z-depth-1.update{type: 'j'} Update
    .col.s12.m6.l3
      .card.z-depth-2
        .card-content.center
          %p.card-title.flow-text Other speeches
          .input-field
            = render partial: 'clients/score_selection', locals: {max_val: 10, min_val: 1,type: 'k'}
          %button.waves-effect.waves-light.btn.z-depth-1.update{type: 'k'} Update
    .col.s12.m6.l3
      .card.z-depth-2
        .card-content.center
          %p.card-title.flow-text Is Sponsor ?
          .input-field{identifier: 1}
            = render partial: 'clients/yes_no_selection' , locals: {type: 'l'}
          %button.waves-effect.waves-light.btn.z-depth-1.update{type: 'l'} Update
