.row
  .col.s2
    .collection.z-depth-2#country_collection{style: 'overflow-y:scroll'}
      - get_country_list(params[:committee_id]).each do |country|
        %a.collection-item{:value => country[0]} #{country[1]}

  .col.s10
    = render 'score_cards'
:coffeescript
  $(document).on "page:change", ->
    score_card_height = $('#score_cards').height()
    $('#country_collection').height(score_card_height)

    $('.collection-item').click ->
      if $(this).hasClass('active')
        $(this).removeClass('active')
      else
        $('.collection-item').removeClass('active')
        $(this).addClass('active')
      return

    $('select').material_select()
    $('.score-enter').change ->
      value = parseInt(@value)
      max = parseInt(@max)
      min = parseInt(@min)
      if value > max
        @value = max
      if value < min
        @value = min
      return
    $('.update').on 'click', ->
      score = $('#' + $(this).attr('type')).val()
      $('#' + $(this).attr('type')).val('')
      if ($('.collection-item.active').attr('value') == undefined)
        Materialize.toast('Please select a country', 2000)
        return
      if (score > 0)
        $(this).addClass('disabled')
        $(this).text('Updating')
        $.ajax
          type: 'PATCH'
          url: '#{committee_client_path}'
          data:
            delegate_id: $('.collection-item.active').attr('value')
            committee_id: #{params[:committee_id]}
            score: score
            identifier: $(this).attr('type')
          dataType: 'script'
      else
        console.log 'Attempted to score with score < 0 or nil'
      return
