Materialize.toast("Updated " + $('#' + "<%= escape_javascript @identifier %>").parent().siblings("span").text(), 1000,'', function(){
  $('#' + "<%= escape_javascript @identifier %>").val('');
  $("button[type= <%= escape_javascript @identifier %>]").removeClass('disabled');
  $("button[type= <%= escape_javascript @identifier %>]").text('Update');
});
