/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require material_icons
 */
@import "materialize";
@import "materialize/extras/nouislider";
nav{
  margin-bottom: 25px;
}
.card-title{
  font-size: 20px !important;
  line-height: normal !important;
}
.country-select{
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.card-panel{
  margin-bottom: 40px !important;
}

@media #{$large-and-up} {
    .container{
      width: 85% !important;
    }
  }

::-webkit-input-placeholder {
    color: #000000;
    opacity: .65 !important; /* for chrome */
}

:-moz-placeholder { /* Firefox 18- */
    color: #000000;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #000000;
}

:-ms-input-placeholder {
   color: #000000;
}

.uppercase{
  text-transform: uppercase;
}

.input{
  margin-right: 5px !important;
  margin-left: 5px !important;
}

.submit{
  margin-top: 0px !important;
  margin-bottom: 30px !important;
}

body{
  background-color: #e0e0e0 !important;
}
