!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title COMUN 2016
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    :javascript
      !function(a,b,c,d,e,f,g,h){a.RaygunObject=e,a[e]=a[e]||function(){
      (a[e].o=a[e].o||[]).push(arguments)},f=b.createElement(c),g=b.getElementsByTagName(c)[0],
      f.async=1,f.src=d,g.parentNode.insertBefore(f,g),h=a.onerror,a.onerror=function(b,c,d,f,g){
      h&&h(b,c,d,f,g),g||(g=new Error(b)),a[e].q=a[e].q||[],a[e].q.push({
      e:g})}}(window,document,"script","//cdn.raygun.io/raygun4js/raygun.min.js","rg4js");

  %body
    %nav.grey.darken-2
      .container
        .nav-wrapper
          %a.brand-logo{:href => root_path } COMUN 2016
          %ul#nav-mobile.right
            %li
              %a.dropdown-button{"data-activates" => "coms", :href => "#"}
                Committees
                %i.material-icons.right arrow_drop_down
            - if current_user
              %li
                = link_to 'Log Out', log_out_path, method: :delete
            - else
              %li
                = link_to 'Log In', log_in_path
        - flash.each do |key, value|
          :javascript
            Materialize.toast("#{value}", 4000)

    %ul#coms.dropdown-content
      %li
        %a{:href => committee_client_path(committee_id: 1)} GA1
      %li
        %a{:href => committee_client_path(committee_id: 2)} GA3
      %li
        %a{:href => committee_client_path(committee_id: 3)} GA4
      %li
        %a{:href => committee_client_path(committee_id: 4)} ECOSOC
      %li
        %a{:href => committee_client_path(committee_id: 5)} SC
      %li
        %a{:href => committee_client_path(committee_id: 6)} UNHCR
      %li
        %a{:href => committee_client_path(committee_id: 7)} UNEP


    .container
      = yield

:javascript
  $(".dropdown-button").dropdown();
  rg4js('apiKey', 'Gycriwm5dY7wo0QrQh/A0Q==');
  rg4js('attach', true);
  rg4js('enablePulse', true);
